<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto Gulp CSS JS</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <main class="main main__container">
      <h1 class="amarillo">Proyecto Gulp CSS JS</h1>
      <p>
        Este es un proyecto de ejemplo para demostrar cómo usar Gulp para
        automatizar tareas de desarrollo web, como la compilación de CSS y JS.
      </p>
    </main>
  </body>
</html>
